<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
    <lable for="">username</lable>
    <input name="username" type="text">
    <lable for="">mobile</lable>
    <input name="mobile" type="text">
    <lable for="">address</lable>
    <input name="address" type="text">
    <lable for="">email</lable>
    <input name="email" type="text">
    <lable for="">password</lable>
    <input name="password" type="text">
    </form>
</body>
</html>